<h1>Coaching#ask</h1>
<!-- <p>Find me in app/views/coaching/ask.html.erb</p> -->


<!-- <form action="/answer" method="get">
  <input type="text" name="question" placeholder="ask">
  <input type="submit">
</form>
 -->

    <form action="/score">
    <label for="game"> Longest Word game </label>
    <input type="text" id="game" name="query" placeholder="Your answer please">
    <input type="submit" value="Go on!">
    </form>
